@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Roboto+Mono:wght@500&family=Teko:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  line-height: 1,5;
  color: black;
  font-family: sans-serif;
  font-size: 20px; }

h3 {
  font-family: sans-serif; }

body {
  background: url(../assets/images/fondo2.jpg);
  background-size: cover;
  background-repeat: repeat;
  padding: 0;
  min-height: 100vh; }

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block: 50px; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #5232c5;
  top: 0%;
  position: sticky;
  height: 90px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fec356;
  top: 0%;
  position: sticky;
  font-family: 'Roboto Mono', monospace; }

.header__title {
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large; }

.header__content {
  display: flex;
  justify-content: space-between; }

#header__content__navbar-gap {
  display: flex;
  gap: 1rem; }

.header__logo {
  cursor: pointer; }

.header__content__navbar ul {
  display: flex;
  gap: 1rem; }

.header__content__navbar li {
  display: inline-block;
  margin-inline: 20px;
  transition: 0,3s; }

.header__content__navbar li:hover {
  font-size: 15px;
  color: red;
  border: 2px solid #252525;
  background-color: white; }

.header__content__navbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  cursor: pointer; }

.main__content {
  display: flex;
  background-color: #ffffff;
  padding: 40px;
  width: 90%;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center; }

.main__content__title {
  color: #030303;
  text-align: center;
  font-size: 50px;
  margin-block: 30px;
  font-family: 'Roboto Mono', monospace; }

.main__content__ilustrations {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap; }

.main__content__ilustrations__img {
  height: 17rem;
  width: auto;
  padding: 0% 1rem; }

.main__content__ilustrations__title {
  color: black;
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto Mono', monospace; }

.main__content__paragraph {
  padding: 1rem; }

@media (max-width: 576px) {
  .main__content__ilustrations__img {
    height: 10rem; } }
